.CreateTodoButton{
    background-color: #1E86FB;
    box-shadow:0 0.5rem 2.5rem rgba(30,134,251,.5);
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size: 5rem;
    position:fixed;
    bottom:24px;
    right:24px;
    font-weight:700;
    color:#fafafa;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 6.4rem;
    width: 6.4rem;
    transform:rotate(0);
    transition:.3s ease;
    z-index: 5;
}
.CreateTodoButton:hover{
    transform:rotate(224deg)
}