.todo-search {
    background:#f9fbfc;
    border-radius: 1rem;
    margin: 1rem 0;
    border: none;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    font-weight:400;
    color:#1e1e1f;
    box-shadow:0 1px 1rem rgba(32,35,41,.25);
    box-sizing:border-box;
}

.todo-search::placeholder {
    color:#a5a5a5;
    font-weight:400;
}

.todo-search:focus-visible {
    outline-width: 0;
}